@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
*{
   margin: 0;
   padding: 0;
   font-family: 'SF Pro Display', Helvetica , sans-serif;
   /* box-sizing: border-box; */
   max-width: 100vw;
}
:root{
   --blue1 :#296ef4;
   --blue2 :#0e57e5;

   --grey1 :#3e3e3e;
   --grey2 :#1a1a1a;

   --light-grey : #989898;

}
section , div{
   overflow-y: hidden;
   color: var(--grey2);
}
section{
   padding: 2rem 10rem;
}
body{
   width: 100%;
}
header{
   display: flex;
   position: fixed;
   top: 0;
   width: 100%;
   padding: 2rem 10rem;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   font-size: 1.2em;
   background: rgba( 255, 255, 255, 0.75 );
   backdrop-filter: blur( 3.5px );
   -webkit-backdrop-filter: blur( 3.5px );
   
   z-index: 10;
}
header::after{
   width: 100%;
   content: '';
   background: var(--light-grey);
   height: 1px;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   bottom: 0;
}
a,button{
   all: unset;
   cursor: pointer;
   color: var(--grey2);
}
.appleLogo{
   font-size: 2rem;
   color: var(--grey1);
}
.navigationBtnsNav{
   display: flex;
   align-items: center;
}
.navigationBtnsNav a{
   color: var(--light-grey);
   transition: 0.3s;
   padding: 0.5rem;
   position: relative;
}

.navigationBtnsNav a::after{
   content:'';
   position: absolute;
   width: 0%;
   height: 3px;
   background: var(--grey2);
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
   border-radius: 100vmax;
   transition: 0.3s;

}
.navigationBtnsNav a:hover, .navigationBtnsNav a.active{
   color: var(--grey2);
   
}
.navigationBtnsNav a:hover::after, .navigationBtnsNav a.active::after{
   width: 85%;
}
.navToggle{
   display: none;
}
.secondaryActions a{
   padding: 0.5rem;
}
#heroSection{
   margin-top: 5rem;
   height: 90vh;
   position: relative;
   display: grid;
   place-items: center;
   margin-bottom: 10rem;
   overflow: visible;
}
.airpodsHeroTypo ,.silverAirpodsHero{
   position: absolute;
   /* left: 50%;
   top: 50%; */
   max-height: 95%;
   z-index: 9;
}






.sum{
   padding: 5rem 10rem;
   text-align: center;
   font-size: 2rem;
   font-weight: 600;
   z-index: 1;
   margin-bottom: 10rem;
}



section.blackBg{
   background: #000000;
}

section.features{
height: 300vh;
position: relative;
overflow: hidden;

}


.imgContainer{
   max-width: 100vw;
position: relative;
overflow: hidden;
}
.imgContainer *{
   position: sticky;
   top: 0;
   
}
.feature{
   color: #ffffff;
   font-size: 2rem;
   width: 15em;
   position: absolute;
   z-index: 2;
   opacity: 0;
   transition: 0.3s ease all;
}
.feature.right{
   right: 15rem;
}
.feature.left{
   left: 15rem;
}
.feature:nth-child(1){
   top: 30vh;
}
.feature:nth-child(2){
   top: 70vh;
}
.feature:nth-child(3){
   top: 120vh;
}
.feature:nth-child(4){
   top: 150vh;
}
.feature:nth-child(5){
   top: 220vh;
}
.features .soundwaves{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}
.features .personUsingAirpodsImg{
   overflow-clip-margin: content-box;
   overflow: clip;
   -webkit-mask-image: url(./images/person\ using\ airpods\ mask.png);
   mask-image: url(./images/person\ using\ airpods\ mask.png);
   bottom: 0;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   z-index: 3;
   
}
.shadowDiv{
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 200%;
   /* background: #fff; */
   /* transform: translateX(-50%); */
   background-image: radial-gradient(circle at bottom, #3C3E3B 0%, black 45%);
   z-index: 0;
   transition: 0.5s ease;
}


.soundwaves{
   fill: var(--grey1);
   stroke: var(--grey1);
   opacity: 0.15;
   width: 200vw;
   overflow: hidden;
   max-height: max-content;
}


















